body {
    background-color: rgba(221, 221, 221, 0.562);
}

h1 {
    text-align: center;
    background-color: rgb(172, 171, 172);
    color: black;
    padding: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    /* border: 2px solid red; */
    font-size: 300px;
}

.box {
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.round {
    background-image: url('Assets/Clock.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    z-index: -1;
}

.hands {
    border: 1px solid black;
    border-radius: 12px;
    position: relative;
    z-index: -1;
}

#min {
    background-color: rgb(12, 12, 12);
    width: 184px;
    height: 3px;
    top: 3px;
    left: 80px;
    transform-origin: right;
    transform: rotate(90deg);
}

#sec {
    background-color: rgb(236, 43, 43);
    width: 216px;
    height: 3px;
    top: -1px;
    left: -137px;
    transform-origin: right;
    transform: rotate(90deg);
    border: 0px solid transparent;
}

#hr {
    background-color: rgb(12, 12, 12);
    width: 150px;
    height: 7px;
    top: -1px;
    left: -293px;
    transform-origin: right;
    transform: rotate(90deg);
}
#dot {
    height: 25px;
    position: relative;
    left: 276px;
}